

/*dylan osborn porfolio*/
h1 {
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
  height: 20px;
}
/*Static Maps*/
h2 {
  color: #212F3D;
  font-size: 25px;
  font-family: sans-serif;
  left: 30px;
  top: 30px;
}
/*Interactive Maps*/
h3 {
  color: #212F3D;
  font-size: 25px;
  font-family: sans-serif;
}
/*Dylan Osborn*/
h4 {
  color: #212F3D;
  font-size: 25px;
  line-height: 0px;
}

#resume {
  float: left;
}

# email {
  float: left;
}

/*Interactive maps*/
#panel2 {
    padding: 40px;
    width: 30%;
    float: left;
    display: inline-block;
    line-height: 2.0em;
    border: medium solid #999;
    line-height: 120%;
    background-color: rgba(128,128,128,.2);
    opacity: 80%;
    font-size: 12px;
}

#pic {
  width: 30%;
}

/*Static Maps*/
#panel {

    padding: 40px;
    width: 50%;
    float: left;
    display: inline-block;
    line-height: 2.0em;
    border: medium solid #999;
    line-height: 120%;
    background-color: rgba(128,128,128,.2);
    opacity: 80%;
    font-size: 12px;
}
#bodywrap {
  width: 100%;
  clear: both;

}

#container {
  width: 100%;
  clear: both;
}

#container2 {
  width: 100%;
  clear: both;
}

#bio {
  padding-top: 100px;
  pdding-left: 1000px;
  font-size: 20px;
  width: 20%;
  float: left;
  display: inline-block;
  line-height: 2.0em;
  border: medium solid #999;
  line-height: 120%;
  background-color: rgba(128,128,128,.2);
  opacity: 80%;
}
