

/*dylan osborn porfolio*/
h1 {
  color: #000;
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
  height: 20px;
}
/*Static Maps*/
h2 {
  color: #000;
  font-size: 25px;
  font-family: sans-serif;
  left: 100px;
  top: 30px;
}
/*Interactive Maps*/
h3 {
  color: #000;
  font-size: 25px;
  font-family: sans-serif;
}
/*Dylan Osborn*/
h4 {
  color: #000;
  font-size: 25px;
  line-height: 0px;
  padding-left: 40px;
}

#resume {
  float: left;
  padding-top: 0px;

}

#email {
  float: left;
  padding-right: 300px;
  padding-bottom: 0px;
  bottom: 100px;

}

/*Interactive maps*/
#panel2 {
    padding-right: 250px;
    width: 30%;
    float: right;
}

#pic {
  width: 30%;
}

/*Static Maps*/
#panel {
    padding-left: 200px;
    /*padding: 40px;*/
    width: 40%;
    float: left;
}
#bodywrap {
  width: 100%;
  clear: both;
}

#container {
  width: 100%;
  clear: both;
  padding-left: 450px;
  padding-top: 0px;
}

#container2 {
  padding-top: 0px;
  width: 100%;
  clear: both;

}

#bio {
  padding-top: 50px;
  padding-left: 200px;
  font-size: 20px;
  width: 20%;
  float: left;
  display: inline-block;
  line-height: 2.0em;
  line-height: 120%;

}
