

/*dylan osborn porfolio*/
h1 {

  font-size: 30px;
  font-family: sans-serif;

  text-align: center;
}
/*Static Maps*/
h2 {
  color: #212F3D;
  font-size: 25px;
  font-family: sans-serif;
  position: relative;
  left: 30px;
  top: 30px;
}
/*Interactive Maps*/
h3 {
  color: #212F3D;
  font-size: 25px;
  font-family: sans-serif;


}
/*Dylan Osborn*/
h4 {
  color: #212F3D;
  font-size: 25px;
  line-height: 0px;




}
/*#pic {
  top: 0px;
  left: 500px;
  float: left;
  width: 30%;

}*/

#resume {
  postion: relative;
  bottom: 50px;
  right: 0px;
  float: right;
}
img {

}

/*Interactive maps*/
#panel2 {
    padding: 10px;
    height: 200px;
    width: 30%;
    right: 100px;
    position: fixed;
    top: 500px;
    float: right;
    display: inline-block;
    line-height: 2.0em;
    border: medium solid #999;
    text-align: justify;
    line-height: 120%;
    background-color: rgba(128,128,128,.2);
    opacity: 80%;
    font-size: 12px;



}
/*Static Maps*/
#panel {
    padding: 10px;
    height: 350px;
    width: 31%;
    left: 100px;
    position: fixed;
    top: 500px;
    float: right;
    display: inline-block;
    line-height: 2.0em;
    border: medium solid #999;
    text-align: justify;
    line-height: 120%;
    background-color: rgba(128,128,128,.2);
    opacity: 80%;
    font-size: 12px;



}
